/* ===== RESET ===== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ===== VARIABLES ===== */
:root {
    --color-primary: #FF6565;
    --color-dark: #1C1C1C;
    --color-light: #FFFFFF;

    --font-main: "Arial", sans-serif;
    --max-width: 1000px;
}

/* ===== GLOBAL ===== */
body {
    font-family: var(--font-main);
    color: var(--color-light);
}

.container {
    width: 90%;
    max-width: var(--max-width);
    margin: 0 auto;
}

/* ===== HEADER ===== */
.header {
    position: absolute;
    width: 100%;
    padding: 30px 0;
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__list {
    display: flex;
    gap: 30px;
}

.nav__list a {
    color: var(--color-light);
    text-decoration: none;
    font-weight: bold;
}

/* ===== HERO ===== */
.hero {
    background: url("images/hero.jpg") center/cover no-repeat;
    height: 100vh;
    display: flex;
    align-items: center;
    text-align: center;
}

.hero__title {
    font-size: 2.2rem;
    margin-bottom: 15px;
}

.hero__subtitle {
    margin-bottom: 30px;
}

.btn {
    padding: 12px 35px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
}

.btn--primary {
    background: var(--color-primary);
    color: var(--color-light);
}

.hero__text {
    margin-top: 40px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
